body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.el-header {
    background-color: #9615db;
    line-height: 60px;
}

.title {
    font-size: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

// Imput
.el-input__inner:focus{
    border-color: $purple !important;
}
.el-textarea__inner:focus{
    border-color: $purple !important;
}

.login {
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.login-header {
    text-align: center;
}

.rafa {
}

.page-title {
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.header-right {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;
}

.el-button {
    &.el-button--primary {
        background: $purple;
        border-color: $purple;
        color: white;

        &:hover {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }
    }
}
