<template>
    <layout>
        <el-card class="el-card">
            <el-form :model="reg_form" ref="reg_form" :rules="reg_rules">

                <el-form-item label="Nombre del Cliente" prop="nombre1">
                    <el-input v-model="reg_form.nombre1" placeholder="Nombre del Cliente"></el-input>
                </el-form-item>

                <el-form-item label="Contacto" prop="contacto">
                    <el-input v-model="reg_form.contacto" placeholder="Contacto"></el-input>
                </el-form-item>

                <el-form-item label="Nombre de Mascota" prop="nombre2">
                    <el-input v-model="reg_form.nombre2" placeholder="Nombre de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Tipo de Mascota" prop="tipo">
                    <el-input v-model="reg_form.tipo" placeholder="Tipo de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Edad de Mascota" prop="edad">
                    <el-input v-model="reg_form.edad" placeholder="Edad de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Proposito de Cita" prop="proposito">
                    <el-input v-model="reg_form.proposito" placeholder="Proposito de Cita"></el-input>
                </el-form-item>

                <el-form-item label="Presenta alguna enfermedad" prop="enfermedad">
                    <el-input v-model="reg_form.enfermedad" placeholder="Presenta alguna enfermedad"></el-input>
                </el-form-item>


                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert style="margin-bottom: 5px" v-for="(er, index) in error" :key="index" type="error" :title="er" :closable="false"></el-alert>
                    </div>
                </div>

                <div style="text-align: center">
                    <el-button type="primary" @click="submit()">Registrar</el-button>
                </div>
            </el-form>
        </el-card>
    </layout>

</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        data() {
            return {
                registerDialogVisible: false,
                reg_form: {
                    nombre1: '',
                    contacto: '',
                    nombre2: '',
                    tipo: '',
                    edad: '',
                    proposito: '',
                    enfermedad: ''

                },
                reg_rules: {
                    nombre1: {required: true, message: 'El nombre del cliente es requerido'},
                    contacto: {required: true, message: 'El contacto del cliente es requerido'},
                    nombre2: {required: true, message: 'El nombre de la mascota es requerido'},
                    tipo: {required: true, message: 'El tipo de mascota es requerido'},
                    edad: {required: true, message: 'La edad de la mascota es requerido'},
                    proposito: {required: true, message: 'El proposito de la cita es requerido'},
                    enfermedad: {required: true, message: 'Este campo de la cita es requerido'},

                }
            }
        },
        methods: {
            submit() {
                this.$refs.reg_form.validate(() => {
                    this.$inertia.post('/', {
                        nombre1: this.reg_form.nombre1,
                        contacto: this.reg_form.contacto,
                        nombre2: this.reg_form.nombre2,
                        tipo: this.reg_form.tipo,
                        edad: this.reg_form.edad,
                        proposito: this.reg_form.proposito,
                        enfermedad: this.reg_form.enfermedad
                    });
                } );
            }
        },
        mounted() {
            if (this.$page.citas) {
                this.citas = this.$page.citas;
            }
        },
        components: {Layout}
    }

</script>
