<template>
    <div>
        <el-header class="login-header">
            <span class="page-title">Veterinaria</span>
        </el-header>

        <el-col :sapn="12" style="text-align: right; padding-top: 10px; padding-right: 10px">
            <el-dropdown>
                <el-button type="primary">Salir</el-button>
                <el-dropdown-menu slot="dropdown">
                    <a href="/logout">
                        <el-dropdown-item>Salir del Formulario</el-dropdown-item>
                    </a>
                </el-dropdown-menu>
            </el-dropdown>
        </el-col>

        <el-container class="login">
            <el-header class="login-header">
                <span class="title">Formulario de Citas</span>
            </el-header>
            <el-main>

                <el-col :sapn="12" style="text-align: right; paddign-rigth: 10px">
                        <el-button @click="create" type="primary">Nueva</el-button>
                </el-col>

                <el-table :data="citas">
                    <el-table-column prop="nombre1" label="Nombre del Cliente" width="170"></el-table-column>
                    <el-table-column prop="contacto" label="Contacto del Cliente" width="170"></el-table-column>
                    <el-table-column prop="nombre2" label="Nombre de la Mascota" width="170"></el-table-column>
                    <el-table-column prop="tipo" label="Tipo de la Mascota" width="170"></el-table-column>
                    <el-table-column prop="edad" label="Edad de la Mascota" width="170"></el-table-column>
                    <el-table-column prop="proposito" label="Proposito de la Cita" width="170"></el-table-column>
                    <el-table-column prop="enfermedad" label="Presenta alguna enfermedad" width="220"></el-table-column>
                </el-table>

                <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                    <el-form :model="form" ref="form" :rules="rules">
                        <el-form-item label="Nombre del cliente" prop="nombre1">
                            <el-input placeholder="Nombre del cliente" v-model="form.nombre1"></el-input>
                        </el-form-item>
                        <el-form-item label="Contacto" prop="contacto">
                            <el-input placeholder="Contacto" v-model="form.contacto"></el-input>
                        </el-form-item>
                        <el-form-item label="Nombre de la mascota" prop="nombre2">
                            <el-input placeholder="Nombre de la mascota" v-model="form.nombre2"></el-input>
                        </el-form-item>
                        <el-form-item label="Tipo de mascota" prop="tipo">
                            <el-input placeholder="Tipo de mascota" v-model="form.tipo"></el-input>
                        </el-form-item>
                        <el-form-item label="Edad de la mascota" prop="edad">
                            <el-input placeholder="Edad de la mascota" v-model="form.edad"></el-input>
                        </el-form-item>
                        <el-form-item label="Propósito de su visita" prop="proposito">
                            <el-input placeholder="Propósito de su visita" v-model="form.proposito"></el-input>
                        </el-form-item>
                        <el-form-item label="Presenta alguna enfermedad" prop="enfermedad">
                            <el-input placeholder="Presenta alguna enfermedad" v-model="form.enfermedad"></el-input>
                        </el-form-item>


                        <el-col>
                            <el-divider></el-divider>
                        </el-col>


                        <div style="text-align: center; padding-top: 10px">
                            <el-button :loading="loading" type="primary" @click="submit()">Registrar</el-button>
                        </div>
                    </el-form>
                </el-dialog>
            </el-main>
        </el-container>
    </div>
</template>

<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },

        data() {
            return{
                baseUrl: '/',
                citas: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                form:{
                    nombre1: '',
                    contacto: '',
                    nombre2: '',
                    tipo: '',
                    edad: '',
                    proposito: '',
                    enfermedad: ''
                },
                rules: {
                    nombre1: {required: true, message: 'El nombre del cliente es requerido'},
                    contacto: {required: true, message: 'El contacto del cliente es requerido'},
                    nombre2: {required: true, message: 'El nombre de la mascota es requerido'},
                    tipo: {required: true, message: 'El tipo de la mascota es requerido'},
                    edad: {required: true, message: 'La edad de la mascota es requerida'},
                    proposito: {required: true, message: 'El proposito de la cita es requerido'},
                    enfermedad: {required: true, message: 'Este campo de la cita es requerido'},
                },
            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            clearForm(){
                this.$refs.form.resetFields();
            },
            create(){
                this.mode = 'Nuava Cita';
                this.dialogVisible = true;
            },
            submit(){
                this.$refs.form.validate(() => {
                    this.loading = true;
                    if(!this.form.id){
                        this.$inertia.post(this.baseUrl, {
                            nombre1: this.form.nombre1,
                            contacto: this.form.contacto,
                            nombre2: this.form.nombre2,
                            tipo: this.form.tipo,
                            edad: this.form.edad,
                            proposito: this.form.proposito,
                            enfermedad: this.form.enfermedad

                        }).then(
                            () => {
                                this.citas = this.$page.citas;
                                this.$message({
                                    type: 'succes',
                                    message: 'Su registro ha sido con exito.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    }else {
                        this.$inertia.put(this.baseUrl.this.form.id, {
                            nombre1: this.form.nombre1,
                            contacto: this.form.contacto,
                            nombre2: this.form.nombre2,
                            tipo: this.form.tipo,
                            edad: this.form.edad,
                            proposito: this.form.proposito,
                            enfermedad: this.form.enfermedad

                        })
                    }
                })
            }
        }
    }
</script>
